* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #94c1e1;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    color: #fff;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #f51703;
    background-color: #eff2ea;
}

.colorO {
    color: #0e0909;
}

.colorX {
    color: #f51703;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    background-color: #2f2a2a;
    color: #fff;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2f2a2a;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ea680b;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }